
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .main{
        text-align:center;
        margin-top:100px;
    }
    .main h1{
        font-family:Arial;
    }
</style>
<div class="main">
    <h1>CONTACT US</h1>
</div>
<div>
    <p>Hotline: 0949657485</p>
    <p>Email: quanhoang28022003@gmail.com</p>
</div>
    



