
@{
    ViewBag.Title = "Liên lạc";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .main{
        text-align:center;
        margin-top:100px;
    }
    h1{
        padding-top:50px;
    }
</style>
<div>
    <p> </p>
    <h1>CONTACT US</h1>
    <p>Hotline: 0949657485</p>
    <p>Email: quanhoang28022003@gmail.com</p>
</div>
    



