
@{
    ViewBag.Title = "CheckOutSuccess";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}

<h2>~ Đặt hàng thành công ~</h2>
<div>@Html.ActionLink("Quay lại trang mua hàng","Index","Product")</div>

