@model PagedList.PagedList<SportShop.Models.Product>
@using PagedList.Mvc
@{
    ViewBag.Title = "Cửa hàng";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    
    .SoldOutList{
        margin-top:50px;
    }
    .row{
        padding:30px 14px;
    }
    .priceSearchBar input {
        border-radius: 10px;
        border: 2px solid #9b9999;
        margin-top:15px;
        margin-right:20px;
    }
</style>


<div class="titleContainer">
    <div class="title">
        <img src="~/Content/img/thumb/thumb1.jpg" alt="Alternate Text" />
        <h2>Tất cả sản phẩm</h2>
    </div>
</div>
<div>
    
</div>


<div class="container-fluid">
    @using (Html.BeginForm("Index", "Product"))
    {
        <div class="priceSearchBar">
            <span>Từ</span>
            <input type="number" name="min" />
            <span>Đến</span>
            <input type="number" name="max" />
            <input type="submit" value="Search" />
        </div>
        <div class="row" style="margin-top:-70px;">

        </div>
    }
    @{Html.RenderAction("ProductList", "Product"); }

    <div class="SoldOutList">
        @{Html.RenderAction("SoldOutList", "Product");
        }
    </div>

</div>
