@using  SportShop.Models;
@model List<Category>



    @{
        foreach (var item in Model)
        {
            <div style="text-decoration:none;color:black">
                @Html.ActionLink(item.NameCate, "Index", "Product", new { category = item.IDCate.Trim() }, " ")
            </div>
        }
    }

