body {
    margin: 0;
    padding: 0;
}
.Header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 20;
    background-color: #a5a1a1;
    align-items: center;
    
}

.menu {
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-family: Arial;
    font-weight: 600;
   
}

.categories {
    height: 20px;
  
}
.left {
    
    width: 25%;
    text-align:center;
    font-size:inherit;
}

.middle {
    
    width: 40%;
}

.right {
    width: 30%;
    align-items: center;
    display:flex;
    flex-direction:row;
}
.btn1{
    margin-top:10px;
    color:black;
    width:30%;
}

.searchBar {
    width: 80%;
    border: none;
    background-color: #EEEEEE;
    color: black;
    height:23px;
}
.searchBtn {
    color: black;
    border: none;
    margin-right: -4px;
    height: 23px;
    width: 10%;
    background-color: #EEEEEE;
    
}
.fa-search{
    
    height:25px;
    margin-top:10px;
    padding-left:10px;
}

.logo {
   
    text-align: center;
    width: 100px;
    margin-left: 20%;
    font-size: large;
    border-radius:4px;
    color:darkblue;
}

.categories {
    border-bottom: 0.2px solid #EEEEEE;
    z-index:@0;
}
.Menu_child {
    position: absolute;
    margin-left:100px;
    
    top:100%;
    
}
    
#account{
   position:relative;  
   z-index:30;
   border:thin solid #b3afaf;
  
}

