body {
    margin: 0;
    padding: 0;
}
.Header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 20;
    background-color:white;
}

.menu {
    height: 45px;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family:Arial;
    font-weight:600;
   
}

.categories {
    height: 20px;
   
}
.left {
    
    width: 25%;
    text-align:center;
}

.middle {
    
    width: 40%;
}

.right {
  
    width: 30%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.btn1{
    margin-top:10px;
    color:black;
    margin-right:50px

}

.searchBar {
    width: 80%;
    border: none;
    background-color: #EEEEEE;
    color: black;
}
.searchBtn {
    color: black;
    border: none;
    margin-right: -4px;
    height: 23px;
    width: 10%;
    background-color: #EEEEEE;
}
.fa-search{
    
    height:25px;
    margin-top:10px;
    padding-left:10px;
}

.logo {
   
    margin-top: 10px;
    text-align: center;
    width: 100px;
    margin-left: 20%;
    font-size: large;
    border-radius:4px;
    color:darkblue;
}
li{
    display:inline-block;
    margin-left:6%;
}
.categories {
    border-bottom: 0.2px solid #EEEEEE;
}
