<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="width:100%;height:50px;background-color:blue">Cart</div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
